<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>이름:<%=name1 %></div>
    <div>성별:<%=test1 %></div>
    <div>생일:<%=day %></div>
    <div>취미:<%=text1 %></div>
    <div>좋아하는 색상:<%= color %></div>
    <div>좋아하는 숫자:<%= number %></div>

    <a href="/08_form_practice/views/index.ejs">홈으로 이동하기</a>
  </body>
</html>
